<%- include("header.ejs")%>
    <h3>Tabel <%= table %></h3>
    <table border="1" cellpadding ="3" cellspacing=""1 >
        <tr>
            <th>No</th>
            <th>ID</th>
            <th>Item</th>
        </tr>
        <% data.data.forEach((row,no) =>{ %>
            <tr>
                <td><%= no + 1 %></td>
                <td><%= row.id %></td>
                <td><%= row.items %></td>
            </tr>
        <% }) %>
    </table>
<%- include("footer.ejs") %>
